.popup__name {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.21);
    outline: none;
    height: 30px;
}

.popup__name:focus {
    border: 1px solid rgb(100, 100, 227);
    box-shadow: 1px 1px 5px 0 rgb(117, 117, 206);
}

.popup__name:last-of-type {
    margin-top: 30px;
}

@media screen and (max-width: 560px) {
    .popup__name {
        margin-top: 25px;
    }
}

