.elements__like {
    width: 22px;
    height: 19px;
    cursor: pointer;
    background-image: url(../../../images/like.svg.svg);
    background-size: cover;
    border: none;
    background-color: rgba( 0, 0, 0, 0);
    flex-shrink: 0;
}

.elements__like:hover {
    opacity: 0.5;
    transition: 0.3s ease-in-out;
}

